button {
  text-align: center;
  color: whitesmoke;
  background-color: #369457;
  padding: 15px 80px;
  margin: 30px;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #369427;
  cursor: pointer;
}

.card-wrapper .card {
  border-radius: 15px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.card-img {
  padding-top: 40px;
}
